/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
body {
    width: 1440px;
    margin: auto;
}
/* debug */
/* .debug .products {
    background-color: aquamarine;
    
} */
/* .debug .product{
    background-color: beige;
    margin: 10px;
} */
/* .debug .image {
    height: 520px;
    width: 364px;
} */
/* .debug .text{
    height: 60px;
    width: 364px;
    background-color: blueviolet;
} */
/* .debug .sale{
    height: 30px;
    width: 40px;
} */
/* .debug .eco{
    height: 30px;
    width: 100px;

} */
/* container */
.products{
    padding: 0 10% 0 10%
}
/* card product */
.product{
   float: left;
   position: relative;
   margin: 5px;
}

.image {
    position: relative;
    height: 520px;
    width: 364px;
}
.sale {
    position: absolute;
    bottom: 15px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0.3rem
}
.eco{
    background-color:   green;
    position: absolute;
    bottom: 15px;
    left: 50px;
    color: white;
    font-weight: bold;
    padding: 0.3rem;
    
}
.favorites{
    background-color: white;
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
   
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* text product */
.model {
    font-weight: bold;
    font-size: 1.1rem;
}
.price{
    text-decoration: line-through;
}
.price_sale {
    color: red;
    font-weight: bold;
}