/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
body {
    width: 1440px;
    margin: auto;
}
/* debug */
.products.debug{
    background-color: aquamarine;
    
}
.product.debug {
    background-color: beige;
    height: 520px;
    width: 364px;
    margin: 10px;
}
.text.debug{
    height: 60px;
    width: 364px;
    background-color: blueviolet;
}
.sale.debug {
    height: 30px;
    width: 40px;
}
.eco.debug{
    height: 30px;
    width: 100px;

}
/* container */
.products{
    padding: 0 10% 0 10%
}
.product{
   float: left;
   position: relative;
}
.text{
    /* position: absolute; */
    float: left;
    margin: 0 10px 0 10px
   
    
    
}
.sale {
    background-color: red;
    position: absolute;
    bottom: 20px;
}
.eco{
    background-color:   green;
    position: absolute;
    bottom: 20px;
    left: 45px;
}
.favorites{
    height: 60px;
    width: 60px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 20px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}